<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94f96a">  <td>22/03/25 09:13:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.loginPage()[pri:1, instance:com.lendenclub.test.TestExecution@66d3eec0]">loginPage</td> 
  <td>main@1183231938</td>   <td></td> </tr>
<tr bgcolor="94f96a">  <td>22/03/25 09:13:31</td>   <td>-1668</td> <td>&nbsp;</td><td title="&gt;&gt;TestExecution.openingChrome()[pri:0, instance:com.lendenclub.test.TestExecution@66d3eec0]">&gt;&gt;openingChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1183231938</td>   <td></td> </tr>
<tr bgcolor="94f96a">  <td>22/03/25 09:13:35</td>   <td>2701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.CheckingJobStatus()[pri:2, instance:com.lendenclub.test.TestExecution@66d3eec0]">CheckingJobStatus</td> 
  <td>main@1183231938</td>   <td></td> </tr>
<tr bgcolor="94f96a">  <td>22/03/25 09:16:07</td>   <td>154506</td> <td>&nbsp;</td><td title="&lt;&lt;TestExecution.CloseBrowser()[pri:0, instance:com.lendenclub.test.TestExecution@66d3eec0]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1183231938</td>   <td></td> </tr>
</table>
